* @lsh1215 @YunJuwon0825 @Gwanghyeon-k @jung2941 @ukongee @kim1387 @dlwldnjs1009 @BellYun

/frontend/ @jung2941 @ukongee @kim1387 @BellYun

/backend/ @lsh1215 @YunJuwon0825 @Gwanghyeon-k @dlwldnjs1009
