@media (max-width: 1024px) {
  .upload-container {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
  .upload-left-section,
  .upload-right-section {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
  .upload-file-button {
    width: 100%;
    height: auto;
  }
  .upload-position,
  .upload-stack,
  .upload-career,
  .upload-education,
  .upload-company {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .upload-position,
  .upload-stack,
  .upload-career,
  .upload-education,
  .upload-company {
    grid-template-columns: 1fr;
  }
  .upload-submit-button {
    width: 100%;
    justify-content: center;
  }
}
